body{
    color: pink;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

#cabecera{
    border: 3px solid coral;
    background-color: darkcyan;
}
#container{
    border: 1px #333 solid;
    padding: 2em;
}
